h2,h5{
    color: black;
}

a,h2{
    font-weight: bold;
}

ion-grid{
    margin-top: 2rem;
    background-color: rgb(249, 252, 255, 0.5);
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5%;
}

ion-icon{
    color: black;
}
