<ion-header>
  <ion-toolbar>
    <ion-title>Inico</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2 class="ion-text-center">TAXPARK</h2>
    <ion-grid style="padding-top: 50%;">
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <ion-button>Login</ion-button>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          <ion-button>Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
