.container {
    margin-top: -18px;
    width: 100%;
    height: 110vh;
    background: url('https://images.unsplash.com/photo-1514749204155-24e484635226?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGF4aXN8ZW58MHx8MHx8&w=1000&q=80');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

h2{
    padding-top: 3rem;
    font-weight: bold;
    color: black;
}

// .fondo-title{
//     padding-top: 3rem;
//     padding: 10px;
//     border-radius: 30px;
//     width: 200px;
//     height: 60px;
//     background-color: rgb(232, 237, 241, 40);
// }
