<ion-header>
  <ion-toolbar>
    <ion-title>TAXPARK</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col size="12"> <h2 class="ion-text-center">iniciar sesion</h2> </ion-col>
        <ion-col size="12">
          <ion-item style="padding: 10px;">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item style="padding: 10px;">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button color="" shape="round" (click)="login()">Entrar</ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <a href="/register">crear cuenta</a>
          <h5>O registrate con</h5>
        </ion-col>
        <ion-col size="4"  class="ion-text-center" style="margin-top: 1.5rem;">
          <ion-icon name="logo-google" style="width: 60px; height: 60px;"> <a href=""></a></ion-icon>
        </ion-col>
        <ion-col size="4"  class="ion-text-center" style="margin-top: 1.5rem;">
          <ion-icon name="logo-facebook" style="width: 60px; height: 60px;"><a href=""></a></ion-icon>
        </ion-col>
        <ion-col size="4"  class="ion-text-center" style="margin-top: 1.5rem;">
          <ion-icon name="logo-twitter" style="width: 60px; height: 60px;"><a href=""></a></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
