.container {
    margin-top: -20px;
    width: 100%;
    height: 110vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/TAXI.jpg/800px-TAXI.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
